In [2]:
import pandas as pd
bikes = pd.read_csv('../data/bikes.csv', parse_dates=['starttime', 'stoptime'])
bikes.head(3)

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
0,7147,Subscriber,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,41.881050,-87.616970,11.0,Michigan Ave & Oak St,41.90096,-87.623777,15.0,73.9,10.0,12.7,-9999.0,mostlycloudy
1,7524,Subscriber,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,41.883380,-87.641170,31.0,Wells St & Walton St,41.89993,-87.634430,19.0,69.1,10.0,6.9,-9999.0,partlycloudy
2,10927,Subscriber,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,41.909592,-87.653497,15.0,Dearborn St & Monroe St,41.88132,-87.629521,23.0,73.0,10.0,16.1,-9999.0,mostlycloudy

## Exercises

### Exercise 1
<span  style="color:green; font-size:16px">Select the wind speed column a a Series and assign it to a variable. Are there any negative wind speeds?</span>

In [12]:
# 16 wind speeds that are negative
wind_speeds = bikes['wind_speed']
negative = wind_speeds < 0
selected = wind_speeds[negative]
len(selected)

16

### Exercise 2
<span  style="color:green; font-size:16px">Select all wind speed values between 12 and 16.</span>

In [14]:
fil = wind_speeds.between(12, 16)
between_speeds = wind_speeds[fil]
between_speeds

0        12.7
6        15.0
9        12.7
18       13.8
19       13.8
         ...
50055    13.8
50063    12.7
50082    13.8
50083    13.8
50088    15.0
Name: wind_speed, Length: 8730, dtype: float64

### Exercise 3
<span  style="color:green; font-size:16px">Select the `events` and `gender` columns for all trip durations longer than 1,000 seconds.</span>

In [19]:
cols = ['events', 'gender']
filt = bikes['tripduration'] > 1000
bikes.loc[filt, cols].head()

          events gender
2   mostlycloudy   Male
8         cloudy   Male
10  mostlycloudy   Male
11  mostlycloudy   Male
12  partlycloudy   Male

### Exercise 4
<span  style="color:green; font-size:16px">Read in the movie dataset with the title as the index. We will use this DataFrame for the rest of the problems. Select all the movies such that the Facebook likes for actor 2 are greater than those for actor 1.</span>

In [20]:
movies = pd.read_csv('../data/movie.csv', index_col='title')
likes = movies["actor2_fb"] > movies["actor1_fb"]
movies[likes]
# all are false

Empty DataFrame
Columns: [year, color, content_rating, duration, director_name, director_fb, actor1, actor1_fb, actor2, actor2_fb, actor3, actor3_fb, gross, genres, num_reviews, num_voted_users, plot_keywords, language, country, budget, imdb_score]
Index: []

[0 rows x 21 columns]

### Exercise 5
<span  style="color:green; font-size:16px">Select the year, content rating, and IMDB score columns for movies from the year 2016 with IMDB score less than 4.</span>

In [21]:
cols = ['year', 'content_rating', 'imdb_score']
filt = movies['year'] == 2016
filt2 = movies['imdb_score'] < 4
main_filt = filt & filt2
movies.loc[main_filt, cols]

                         year content_rating  imdb_score
title
Fifty Shades of Black  2016.0              R         3.5
Cabin Fever            2016.0      Not Rated         3.7
God's Not Dead 2       2016.0             PG         3.4

### Exercise 6
<span  style="color:green; font-size:16px">Select all the movies that are missing values for content rating.</span>

In [23]:
filt = movies['content_rating'].isna()
movies[filt]

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Star Wars: Episode VII - The Force Awakens,NaN,NaN,NaN,NaN,Doug Walker,131.0,Doug Walker,131.0,Rob Walker,12.0,...,NaN,NaN,Documentary,NaN,8,NaN,NaN,NaN,NaN,7.1
Godzilla Resurgence,2016.0,Color,NaN,120.0,Hideaki Anno,28.0,Mark Chinnery,544.0,Shin'ya Tsukamoto,106.0,...,12.0,NaN,Action|Adventure|Drama|Horror|Sci-Fi,1.0,374,blood|godzilla|monster|sequel,Japanese,Japan,NaN,8.2
Harry Potter and the Deathly Hallows: Part II,2011.0,Color,NaN,NaN,Matt Birch,0.0,Rupert Grint,10000.0,Dave Legeno,570.0,...,159.0,NaN,Action|Fantasy,1.0,381,NaN,English,UK,NaN,7.5
Harry Potter and the Deathly Hallows: Part I,2010.0,Color,NaN,NaN,Matt Birch,0.0,Rupert Grint,10000.0,Toby Jones,2000.0,...,1000.0,NaN,Fantasy,4.0,252,NaN,English,UK,NaN,6.4
Asterix at the Olympic Games,2008.0,Color,NaN,116.0,Frédéric Forestier,0.0,Alain Delon,936.0,Santiago Segura,276.0,...,141.0,NaN,Adventure|Comedy|Family|Fantasy,33.0,20567,1st century b.c.|lightsaber|local blockbuster|...,French,France,78000000.0,5.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
On the Downlow,2004.0,Color,NaN,84.0,Tadeo Garcia,5.0,Tatiana Suarez-Pico,21.0,Michael Cortez,20.0,...,12.0,NaN,Drama,NaN,156,gang initiation|gunplay|hazing|latino|shakespe...,English,USA,NaN,6.1
Sanctuary; Quite a Conundrum,2012.0,Color,NaN,82.0,Thomas L. Phillips,120.0,Julianna Pitt,785.0,Joe Coffey,98.0,...,84.0,NaN,Comedy|Horror|Thriller,13.0,133,nudity|party|pirate|swimsuit|three word title,English,USA,200000.0,5.4
Bang,1995.0,Color,NaN,98.0,Ash Baron-Cohen,3.0,Peter Greene,789.0,Stanley B. Herman,194.0,...,152.0,NaN,Crime|Drama,10.0,438,corruption|homeless|homeless man|motorcycle|ur...,English,USA,NaN,6.4
Signed Sealed Delivered,2013.0,Color,NaN,87.0,Scott Smith,2.0,Eric Mabius,637.0,Daphne Zuniga,470.0,...,318.0,NaN,Comedy|Drama,1.0,629,fraud|postal worker|prison|theft|trial,English,Canada,NaN,7.7
A Plague So Pleasant,2013.0,Color,NaN,76.0,Benjamin Roberds,0.0,Eva Boehnke,0.0,Maxwell Moody,0.0,...,0.0,NaN,Drama|Horror|Thriller,13.0,38,NaN,English,USA,1400.0,6.3

### Exercise 7
<span  style="color:green; font-size:16px">Select all the movies that are missing values for both the gross and budget columns. Return just those columns to verify that those values are indeed missing.</span>

In [24]:
filt1 = movies['gross'].isna()
filt2 = movies['budget'].isna()
filt = filt1 & filt2
cols = ['gross', 'budget']
movies.loc[filt, cols].head()

                                               gross  budget
title
Star Wars: Episode VII - The Force Awakens       NaN     NaN
The Lovers                                       NaN     NaN
Godzilla Resurgence                              NaN     NaN
Harry Potter and the Deathly Hallows: Part II    NaN     NaN
Harry Potter and the Deathly Hallows: Part I     NaN     NaN

### Exercise 8
<span  style="color:green; font-size:16px">Write a function `find_missing` that has three parameters, `df`, `col1` and `col2` where `df` is a DataFrame and `col1` and `col2` are column names. This function should return all the rows of the DataFrame where `col1` and `col2` are missing. Only return the two columns as well. Answer problem 7 with this function.</span>

In [26]:
def find_missing(df, col1, col2):
    filt1 = df[col1].isna()
    filt2 = df[col2].isna()
    filt = filt1 & filt2
    cols = [col1, col2]
    return df.loc[filt, cols]

In [27]:
find_missing(movies, 'gross', 'budget')

                                               gross  budget
title
Star Wars: Episode VII - The Force Awakens       NaN     NaN
The Lovers                                       NaN     NaN
Godzilla Resurgence                              NaN     NaN
Harry Potter and the Deathly Hallows: Part II    NaN     NaN
Harry Potter and the Deathly Hallows: Part I     NaN     NaN
...                                              ...     ...
Exeter                                           NaN     NaN
On the Downlow                                   NaN     NaN
Bang                                             NaN     NaN
Signed Sealed Delivered                          NaN     NaN
The Following                                    NaN     NaN

[219 rows x 2 columns]